/laskarit/viikko2/Maksukortti/nbproject/private/
/laskarit/viikko2/Maksukortti/build/
/laskarit/viikko2/Unicafe/target/
/laskarit/viikko2/Unicafe/nbproject/
/ganbare_sanastotreeni/target
/ganbare_sanastotreeni/nbproject/
/ganbare_sanastotreeni/hs_err_pid18469.log
/ganbare_sanastotreeni/hs_err_pid18574.log
/ganbare_sanastotreeni/hs_err_pid5066.log
/todo.txt
